body {
	font-family: 'Quicksand', sans-serif;
	background-color: #89E1F9
}

#header {
	margin-top: 30px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
}

#subheader{
	margin-top: 25px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 25px;
}

#img{
	margin-top: 
}