body {
	font-family: 'Quicksand', sans-serif;
	background-color: #89E1F9
}

#header {
	margin-top: 30px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 80px;
}

#subheader{
	margin-top: 25px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 25px;
}

#thumbnail{
	text-align: center;
	margin: 0 auto
	width: auto;
	display: black;
}

#description{
	margin-top: 25px;
	text-align:center;
	letter-spacing: 5px;
	font-size: 25px;
}

#Link{
	margin-top: 25px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 25px;
}

